@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Inter:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f8fafc; /* light minimal */
    color: #000000;
    font-family: 'Inter', system-ui, sans-serif;
  }
}
